

.aui-wrapper-header {
    border: 0 solid #FC4349;
    width: 938px;
    height: 46px;
    margin: 0 auto;
    position: relative;
}

.aui-wrapper-input {
    width: 762px;
    height: 46px;
    line-height: 20px;
    float: left;
    font-size: 16px;
    padding: 12px 16px;
    margin: 0;
    border: 1px solid #E8E8E8;
    border-right: 0;
    color: rgb(153, 153, 153);
}

.aui-wrapper-submit {
    float: left;
    width: 142px;
    height: 46px;
    font-size: 18px;
    color: #FFF;
    border: 0;
    background: #FC4349;
    cursor: pointer;
    text-align: center;
}
