<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>徐州工程学院思政课学习管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="css/common.css">
    <!--验证码css-->
    <link rel="stylesheet" href="css/verify.css">
    <style>
        #carousel-345272 img {
            width: 100%;
            height: 450px;
        }

        .thumbnail p {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .thumbnail img{
            height:125px;
            width:222px;
        }
    </style>

    <!--vue.js-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/jquery.timers.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>


<div class="navbar navbar-inverse" id="commonhead"></div>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="breadcrumb">
                <li class="active">
                    <a href="#">主页</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--轮播区-->
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="carousel slide" id="carousel-345272">
                <ol class="carousel-indicators">
                    <li class="active" data-slide-to="0" data-target="#carousel-345272">
                    </li>
                    <li data-slide-to="1" data-target="#carousel-345272">
                    </li>
                    <li data-slide-to="2" data-target="#carousel-345272">
                    </li>
                    <li data-slide-to="3" data-target="#carousel-345272">
                    </li>
                </ol>
                <div class="carousel-inner" id="wheelContainer">
                    <div class="item active">
                      <a v-bind:href=`http://www.gaoxi.com/course.html?courseId=${wheelInfo[0].courseId}`>
                          <img alt="" v-bind:src="wheelInfo[0].courseImg"/></a>
                        <div class="carousel-caption">
                            <h4 v-text="wheelInfo[0].courseName"></h4>
                            <p v-text="wheelInfo[0].courseIntroduction"></p>
                        </div>
                    </div>
                    <div class="item">
                        <a v-bind:href=`http://www.gaoxi.com/course.html?courseId=${wheelInfo[1].courseId}`>
                            <img alt="" v-bind:src="wheelInfo[1].courseImg"/>
                        </a>
                        <div class="carousel-caption">
                            <h4 v-text="wheelInfo[1].courseName"></h4>
                            <p v-text="wheelInfo[1].courseIntroduction"></p>
                        </div>
                    </div>
                    <div class="item">
                        <a v-bind:href=`http://www.gaoxi.com/course.html?courseId=${wheelInfo[2].courseId}`>
                            <img alt="" v-bind:src="wheelInfo[2].courseImg"/>
                        </a>
                        <div class="carousel-caption">
                            <h4 v-text="wheelInfo[2].courseName"></h4>
                            <p v-text="wheelInfo[2].courseIntroduction"></p>
                        </div>
                    </div>
                    <!--需要添加指令 才可以解析${}-->
                    <div class="item">
                        <a v-bind:href=`http://www.gaoxi.com/course.html?courseId=${wheelInfo[3].courseId}`>
                        <img alt="" v-bind:src="wheelInfo[3].courseImg"/>
                        </a>
                        <div class="carousel-caption">
                            <h4 v-text="wheelInfo[3].courseName"></h4>
                            <p v-text="wheelInfo[3].courseIntroduction"></p>
                        </div>
                    </div>
                </div>

                <a class="left carousel-control" href="#carousel-345272" data-slide="prev"><span
                        class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#carousel-345272" data-slide="next"><span
                        class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
</div>
<!--视频展示区-->
<div class="container">
    <!--视频推荐-->
    <div class="row clearfix">
        <div class="col-md-12 column">
            <blockquote>
                <h3>
                    视频推荐
                </h3>
            </blockquote>
            <div class="row" id="videorecommendation">
                <video-item
                        v-for="item in videoInfoList"
                        v-bind:videoinfo="item">
                </video-item>
            </div>
        </div>
    </div>
    <!--马克思主义基本原理概论-->
    <div class="row clearfix">
        <div class="col-md-12 column">

            <blockquote>
                <h3>
                    思想道德修养和法律基础
                </h3>
            </blockquote>
            <div class="row" id="mayuanvideo">
                <video-item
                        v-for="item in videoInfoList"
                        v-bind:videoinfo="item">
                </video-item>
            </div>
        </div>
    </div>
    <!--思想道德修养和法律基础-->
    <div class="row clearfix">
        <div class="col-md-12 column">

            <blockquote>
                <h3>
                    思想道德修养和法律基础
                </h3>
            </blockquote>

            <div class="row" id="sixiuvideo">
                <video-item
                        v-for="item in videoInfoList"
                        v-bind:videoinfo="item">
                </video-item>
            </div>
        </div>
    </div>
    <!--中国近现代史纲要-->
    <div class="row clearfix">
        <div class="col-md-12 column">

            <blockquote>
                <h3>
                    中国近现代史纲要
                </h3>
            </blockquote>

            <div class="row" id="historyvideo">
                <video-item
                        v-for="item in videoInfoList"
                        v-bind:videoinfo="item">
                </video-item>
            </div>
        </div>
    </div>
    <!--毛泽东思想和中国特色社会主义概论-->
    <div class="row clearfix">
        <div class="col-md-12 column">

            <blockquote>
                <h3>
                    毛泽东思想和中国特色社会主义概论
                </h3>
            </blockquote>

            <div class="row" id="maogaivideo">
                <video-item
                        v-for="item in videoInfoList"
                        v-bind:videoinfo="item">
                </video-item>
            </div>
        </div>
    </div>
</div>

<footer class="white-wrapper"></footer>
<!--登录注册模态框-->
<div class="modal fade" id="modal-container-912437" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
<script>
     $("#commonhead").load("head.html");
     $(".white-wrapper").load("foot.html");
     $("#modal-container-912437").load("login.html");
     Vue.component('video-item', {
         // video-item 组件现在接受一个
         // "prop"，类似于一个自定义特性。
         // 这个 prop 名为 videoinfo。
         props: ['videoinfo'],
         template: '        <div class="col-md-3">\n' +
         '                    <div class="thumbnail">\n' +
         '                        <img alt="300x200"\n' +
         '                             v-bind:src="videoinfo.videoImg"/>\n' +
         '                        <div class="caption">\n' +
         '                            <h4 v-text="videoinfo.videoName">\n' +
         '                                \n' +
         '                            </h4>\n' +
         '                            <p data-toggle="tooltip" data-placement="bottom" v-bind:title="videoinfo.videointro" v-text="videoinfo.videointro">\n' +
         '                            </p>\n' +
         '                            <p class="text-right">\n' +
         '                                <a class="btn btn-primary" v-bind:href="`http://www.gaoxi.com/course.html?courseId=${videoinfo.videoUrl}`">立即学习</a>\n' +
         '                            </p>\n' +
         '                        </div>\n' +
         '                    </div>\n' +
         '                </div>'
     })






    $(function () {

        /*
        * 1.Vue实例的生命周期,也就是从 无---->有 ----->无 ,和人一样经历不同阶段
        * 2.created: 可以用于请求初始化的数据，此时html页面上还没有相应的dom元素
        *   ①在这里ajax请求要用同步的策略
        * 3.mounted: 页面中已经有dom了
        *
        * */



        var wheelPlant=new Vue({
            el:"#wheelContainer",
            data:{
                wheelInfo:[{'courseId':'1','courseImg':"img/chun.jpg",'courseName':'春天课程',"courseIntroduction":"非常好看"},
                    {'courseId':'1','courseImg':"img/xia.jpg",'courseName':'夏天课程',"courseIntroduction":"特别好看"},
                    {'courseId':'1','courseImg':"img/qiu.jpg",'courseName':'秋天课程',"courseIntroduction":"十分好看"},
                    {'courseId':'1','courseImg':"img/winter.jpg",'courseName':'冬天课程',"courseIntroduction":"十分特别好看"}]
            },
           created:function(){
              that=this;
               $.ajax({
                   url : "http://www.gaoxi.com/courses/getWheelInfo",
                   type : "GET",
                   async: false,
                   success : function(res){
                       that.wheelInfo=res.data;
                   },
                   error : function(){
                       console.log('请求失败');
                   }
               });
           },
            methods:{

            }
        })


        var videoRecom=new Vue({
            el:"#videorecommendation",
            data:{
                videoInfoList:[{"videoImg":"img/chun.jpg","videoName":"入门经典","videointro":"这个视频课程十分的好看","videoUrl":"1"},
                    {"videoImg":"img/chun.jpg","videoName":"入门经典","videointro":"这个视频课程十分的好看","videoUrl":"2"},
                    {"videoImg":"img/chun.jpg","videoName":"入门经典","videointro":"这个视频课程十分的好看","videoUrl":"3"},
                    {"videoImg":"img/chun.jpg","videoName":"入门经典","videointro":"这个视频课程十分的好看","videoUrl":"4"}
                ]
            },
            created:function(){
                that=this;
                $.ajax({
                    url : "http://www.gaoxi.com/courses/getIndexVideoInfo",
                    type : "GET",
                    data:{"vtype":"0"},
                    async:false,
                    success : function(res){
                        that.videoInfoList=res.data;
                    },
                    error : function(){
                        console.log('请求失败');
                    }
                });
            },
            methods:{

            }
        })


        var mayuanvideo=new Vue({
            el:"#mayuanvideo",
            data:{
                videoInfoList:[{"videoImg":"img/xia.jpg","videoName":"马原入门经典","videointro":"这个视频课程好看","videoUrl":"http://www.gaoxi.com"},
                    {"videoImg":"img/xia.jpg","videoName":"马原入门经典","videointro":"老师讲的很棒","videoUrl":"http://www.gaoxi.com"},
                    {"videoImg":"img/xia.jpg","videoName":"马原入门经典","videointro":"一般无人能讲的如此同车","videoUrl":"http://www.gaoxi.com"},
                    {"videoImg":"img/xia.jpg","videoName":"马原入门经典","videointro":"这个视频课程十分的好看","videoUrl":"http://www.gaoxi.com"}
                ]
            },
            created:function(){
                that=this;
                $.ajax({
                    url : "http://www.gaoxi.com/courses/getIndexVideoInfo",
                    type : "GET",
                    data:{"vtype":"1"},
                    async: false,
                    success : function(res){
                        that.videoInfoList=res.data;
                    },
                    error : function(){
                        console.log('请求失败');
                    }
                });
            }
        })

        var sixiuvideo=new Vue({
            el:"#sixiuvideo",
            data:{
                videoInfoList:[{"videoImg":"img/qiu.jpg","videoName":"马原入门经典","videointro":"这个视频课程好看","videoUrl":"http://www.gaoxi.com"},
                    {"videoImg":"img/qiu.jpg","videoName":"马原入门经典","videointro":"老师讲的很棒","videoUrl":"http://www.gaoxi.com"},
                    {"videoImg":"img/qiu.jpg","videoName":"马原入门经典","videointro":"一般无人能讲的如此同车","videoUrl":"http://www.gaoxi.com"},
                    {"videoImg":"img/qiu.jpg","videoName":"马原入门经典","videointro":"这个视频课程十分的好看","videoUrl":"http://www.gaoxi.com"}
                ]
            },
            created:function(){
                that=this;
                $.ajax({
                    url : "http://www.gaoxi.com/courses/getIndexVideoInfo",
                    type : "GET",
                    data:{"vtype":"2"},
                    async: false,
                    success : function(res){
                        that.videoInfoList=res.data;
                    },
                    error : function(){
                        console.log('请求失败');
                    }
                });
            }
        })
        var  historyvideo=new Vue({
            el:"#historyvideo",
            data:{
                videoInfoList:[{"videoImg":"img/winter.jpg","videoName":"马原入门经典","videointro":"这个视频课程好看","videoUrl":"http://www.gaoxi.com"},
                    {"videoImg":"img/winter.jpg","videoName":"马原入门经典","videointro":"老师讲的很棒","videoUrl":"http://www.gaoxi.com"},
                    {"videoImg":"img/winter.jpg","videoName":"马原入门经典","videointro":"一般无人能讲的如此同车","videoUrl":"http://www.gaoxi.com"},
                    {"videoImg":"img/winter.jpg","videoName":"马原入门经典","videointro":"这个视频课程十分的好看","videoUrl":"http://www.gaoxi.com"}
                ]
            },
            created:function(){
                that=this;
                $.ajax({
                    url : "http://www.gaoxi.com/courses/getIndexVideoInfo",
                    type : "GET",
                    data:{"vtype":"3"},
                    async: false,
                    success : function(res){
                        console.log(that.videoInfoList);
                        that.videoInfoList=res.data;
                    },
                    error : function(){
                        console.log('请求失败');
                    }
                });
            },
        })

        var  maogaivideo=new Vue({
            el:"#maogaivideo",
            data:{
                videoInfoList:[{"videoImg":"img/vuelogo.jpg","videoName":"马原入门经典","videointro":"这个视频课程好看","videoUrl":"http://www.gaoxi.com"},
                    {"videoImg":"img/vuelogo.jpg","videoName":"马原入门经典","videointro":"老师讲的很棒","videoUrl":"http://www.gaoxi.com"},
                    {"videoImg":"img/vuelogo.jpg","videoName":"马原入门经典","videointro":"一般无人能讲的如此同车","videoUrl":"http://www.gaoxi.com"},
                    {"videoImg":"img/vuelogo.jpg","videoName":"马原入门经典","videointro":"这个视频课程十分的好看","videoUrl":"http://www.gaoxi.com"}
                ]
            },
            created:function(){
                that=this;
                $.ajax({
                    url : "http://www.gaoxi.com/courses/getIndexVideoInfo",
                    type : "GET",
                    data:{"vtype":"4"},
                    async: false,
                    success : function(res){
                        console.log(that.videoInfoList);
                        that.videoInfoList=res.data;
                    },
                    error : function(){
                        console.log('请求失败');
                    }
                });
            }
        })
        /*必须加上这一句不然tooltip无效果*/
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
</body>
</html>